.main {
    height: 100vh;
}

.sidebar {
    background: rgb(94, 64, 105);
    color: #fff;
}



.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 10px;

}

.sidebar a:hover {
    background: rgb(102, 92, 119);

}

.active {
    background: rgb(102, 92, 119);
    border-right: solid 8px rgb(199, 170, 224);


}


.card-data {
    border: solid 1px; 
    padding: 20px 50px;
    color: #fff;
}

.card-data.buku {
    background-color:darkkhaki;
}

.card-data.kategori {
    background-color: indianred;
}

.card-data.user {
    background-color: darkolivegreen;
}

.card-data i {
    font-size: 60px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 30px;
}